<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{favicon.ico}">

    <title>Autos</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link th:href="@{https://use.fontawesome.com/releases/v5.5.0/css/all.css}" rel="stylesheet">
  </head>

  <body >

 <header th:insert="fragmentos/menu.html::menu-principal"></header >
<br><br>
	<br>
    <main role="main">
     
      <div class="container"> 

        <div class="row" th:object="${libros}">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" name="archivoImagen" id="archivoImagen" th:src="@{/images/{img} (img=${libros.imagen})}" alt="Generic placeholder image" width="220" height="350">            
          </div>
          <div class="col-md-9">
            <div class="card">
              <h4 class="card-header">Auto:  <strong th:text="${libros.titulo}"></strong></h4>              
              <div class="card-body">
                <h5 class="card-title"><strong>Marca: </strong> <span th:text="${libros.categoria.nombre}"></span></h5>               
                <h6 class="card-title"><strong>Precio: </strong><span th:text="${libros.precio}"></span></h6>
                <h6 class="card-title"><strong>Año: </strong><span class="card-text" th:text="${libros.nPaginas}"></span></h6>
                <h6 class="card-title"><strong>Pais de origen: </strong><span class="card-text" th:text="${libros.categoria.descripcion}"></span></h6>
                <div class="card bg-light mb-3" >
                </div>                             
              </div>
            </div>  
          </div>
        </div>

      </div>
    </main>

 <footer th:insert="fragmentos/pie.html::pie-pagina">
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script> 
  </body>
</html>
